.emptyWishList {
  width: 60%;
  /* background: red; */
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.emptyWishList .emptyIcon {
  font-size: 50px;
  color: red;
  margin-bottom: 10px;
}
.emptyWishList h4 {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 1;
  color: #8e8e8e;
  padding: 5px;
}
.emptyWishList p {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  letter-spacing: 1;
}

.emptyWishList a {
  background: rgb(105, 105, 241);
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease-in;
}
.emptyWishList a:hover {
  background: blue;
  text-decoration: underline;
}
