.mainWishlist1 {
  width: 90%;
  background: #fefefe;
  margin: 2rem auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
  height: auto;
}
.mainwish-header {
  width: 50%;
  /* background: red; */
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.mainwish-header h2{
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 1;
    color: rgb(243, 136, 136);
    font-weight: bold;
}
.mainwish-header p{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    letter-spacing: 1;

}