.cartDisplay{
    width: 90%;
    margin: 0 auto;
    /* background: red; */
    padding: 10px;
}
.cartDisplay-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    padding: 10px;
    /* color: #fff; */
    border-bottom: 1px solid #000;
}
.cartDisplay-header h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.cartDisplay-header p{
    color: #000;
    font-size: 40px;
    cursor: pointer;
}
.cartDisplay-header p:hover{
    color: #000;
}

@media (max-width:550px) {
    .cartDisplay-header h2{
        font-size: 12px;
    }
    .cartDisplay-header p{
        font-size: 20px;
    }
}