.wishlist1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 1rem auto;
  gap: 10px;
}
.wishlist2 {
  position: relative;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.wishlist2 .wishlistLike {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}

.wishlist2 .wishlistLike:hover {
  color: red;
}
.wishlist-content {
  background: #f5f5f5d3;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}
.wishlist-content h3 {
  padding-left: 8px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  letter-spacing: 1;
}
.wishlist-content p {
  padding-left: 8px;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #6b6b6b;
}

.wishlist-content small {
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 100;
  margin-top: 5px;
  padding-left: 8px;
}

.wishlist-content-btn {
  background: rgb(129, 129, 245);
  margin: 10px auto;
  padding: 7px;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.wishlist-content-btn:hover {
  background: blue;
  text-decoration: underline;
}
