/* [project]/component/accessories/accessoriescard.css [app-client] (css) */
.tops2 {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  display: grid;
}

.mainTop {
  cursor: pointer;
  border: none;
  width: 100%;
  height: auto;
  transition: all .3s ease-in;
  box-shadow: 0 0 10px #00000080;
}

.mainTop:hover {
  transform: scale(1.05);
}

.topimg {
  position: relative;
}

.topimg .btn {
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 4px;
  right: 5px;
}

.productCard-image .btn:hover {
  color: red;
}

.productCardDetails {
  background: #fff;
  width: 100%;
  height: 30vh;
}

.productCardDetails h3 {
  letter-spacing: 1px;
  padding-left: 8px;
  font-family: Times New Roman, Times, serif;
  font-size: 15px;
  font-weight: 600;
}

.productCardDetails .details {
  color: #6b6b6b;
  padding-left: 8px;
  font-family: Times New Roman, Times, serif;
  font-size: 13px;
  font-weight: bold;
}

.productCardDetails .p-c {
  flex-direction: column;
  gap: 1px;
  padding-left: 8px;
  display: flex;
}

.productCardDetails .p-c small {
  margin-top: 5px;
  font-family: Times New Roman, Times, serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
}

.productCardDetails .p-c span {
  font-family: Courier New, Courier, monospace;
  font-size: 12px;
  font-weight: 300;
}

.productCardDetails .btn1 {
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #8181f5;
  border-radius: 10px;
  justify-content: center;
  margin: 10px auto;
  padding: 7px;
  font-family: Times New Roman, Times, serif;
  font-size: 12px;
  display: flex;
}

.productCardDetails .btn1:hover {
  background: #00f;
  text-decoration: underline;
}

.clothinglink {
  text-shadow: 0 0 5px #00000080;
  align-items: center;
  padding: 10px;
  font-family: Times New Roman, Times, serif;
  font-size: 12px;
  font-weight: bold;
  animation: 1.5s infinite blink;
  display: flex;
}

.clothinglink span {
  padding-left: 10px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (width <= 600px) {
  .tops2 {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
  }

  .productCardDetails {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .productCardDetails .details {
    font-size: 12px;
  }
}

@media (width >= 601px) and (width <= 850px) {
  .tops2 {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
  }
}


/* [project]/component/accessories/mainaccessories.css [app-client] (css) */
.mainaccesories {
  background: #f0f0f0;
  flex-direction: column;
  padding: 70px;
  display: flex;
}

.accesoriesContent {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.accesoriesContent h3 {
  text-transform: uppercase;
  text-shadow: 0 0 5px #00000080;
  font-family: serif;
  font-size: 30px;
  font-weight: bold;
}

.accesoriesContent p {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Times New Roman, Times, serif;
  font-size: 15px;
  font-weight: 100;
  display: flex;
}

@media (width <= 600px) {
  .accesoriesContent h3 {
    font-size: 18px;
  }

  .accesoriesContent p {
    font-size: 10px;
  }
}

@media (width >= 601px) and (width <= 850px) {
  .mainaccesories {
    width: 110%;
  }
}


/*# sourceMappingURL=component_accessories_d9932b27._.css.map*/