.SignUp1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/background.avif");
  background-position: center;
  background-size: cover;
  height: 77vh;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 1px;
  padding-bottom: 1px;
}
.signUp2 {
  border: none;
  border-radius: 20px;
  display: flex;
  align-content: center;
  /* justify-content: space-between; */
  width: 60%;
  /* height: 50vh; */
  margin: 5rem auto;
  background-color: #fff;
}
.signUp-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.message-error{
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
  color: #870535;
  font-weight: 500;
}
.message-success{
    font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
  color: green;
  font-weight: 500;
}
.form1 {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.form1 input {
  width: 100%;
  border: none;
  background: #cbcbcb;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 5px;
}
.form1 input::placeholder {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.form1 button {
  border: none;
  width: 100px;
  background: #a53860;
  border-radius: 10px;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.form1 button:hover{
    background: #870535;
}
.image{
    width: 50%;
}