.tops2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.mainTop {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: auto;
  transition: 0.3s ease-in;
  cursor: pointer;
  width: 100%;
}
.mainTop:hover {
  transform: scale(1.05);
}
.topimg {
  position: relative;
}
.topimg .btn {
  position: absolute;
  top: 4px;
  right: 5px;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}
.productCard-image .btn:hover {
  color: red;
}
.productCardDetails {
  background: #fff;
  width: 100%;
  /* padding-bottom: 30px; */
  height: 30vh;
}
.productCardDetails h3 {
  padding-left: 8px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  letter-spacing: 1;
}
.productCardDetails .details {
  padding-left: 8px;
  /* background-color: red; */
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #6b6b6b;
}
.productCardDetails .p-c {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  gap: 1px;
}
.productCardDetails .p-c small {
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 100;
  margin-top: 5px;
}
.productCardDetails .p-c span {
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}
.productCardDetails .btn1 {
  background: rgb(129, 129, 245);
  margin: 10px auto;
  padding: 7px;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.productCardDetails .btn1:hover {
  background: blue;
  text-decoration: underline;
}

.clothinglink {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
  /* background: red; */
  /* max-width: 700px; */
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation: blink 1.5s infinite;
}
.clothinglink span {
  padding-left: 10px;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media (max-width: 600px) {
  .tops2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .productCardDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .productCardDetails .details{
    font-size: 12px;
  }
}
