.sales {
  background: #f0f0f0;
  padding: 70px;
  display: flex;
  flex-direction: column;
}
.salesheader {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.salesheader h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.salesheader p {
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 100;
}
.salescard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 50px;
}
.salescontent {
  /* border: 1px solid #000; */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}
.salescontent:hover {
  transform: scale(1.05);
}
.salescontent .pic {
  width: 100%;
  height: 400px;
}
.salecontentwrite {
  background: #fff;
  padding: 20px;
}
.salecontentwrite h3 {
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
  color: rgb(106, 106, 106);
}
.salecontentwrite p {
  font-weight: 200;
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 5px;
}
.salecontentwrite span {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  color: #858484;
}
.salecontentwrite small {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}
.salecontentwrite h6 {
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
  color: rgb(106, 106, 106);
  margin-top: 10px;
}
.salecontentwrite a {
  width: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  background: rgb(129, 129, 245);
  color: #fff;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}
.salecontentwrite a:hover {
  background: blue;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .salesheader h3 {
    font-size: 25px;
  }
  .salesheader p {
    max-width: 500px;
    font-size: 12px;
  }
  .salescard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .salescontent{
    width: 100%;
  }
  .salecontentwrite h3{
    font-size: 20px;
  }
  .salecontentwrite p{
    font-size: 12px;
  }
  .salecontentwrite span{
    font-size: 11px;
  }
}
